# 의존성 패키지
/node_modules
/.pnp
.pnp.js

# 테스트
/coverage

# 빌드 결과물
/build
/dist

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor 디렉토리와 파일
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 임시 파일
*.swp
*.swo

# 타입스크립트
*.tsbuildinfo

# yarn v2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Next.js (React 기반 Next.js 사용 시)
.next/
out/

# Jest 스냅샷
__snapshots__

# PWA
**/public/workbox-*.js
**/public/sw.js